.main-section{
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto";

    span{
    font-size: 20px;
    font-weight: 700;
    }

    h1{
      font-size: 72px;
      font-weight: 800;
    }
}


@media(min-width:1080px){
  .main-section{
  flex-direction:row;
  }
}
